.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0 auto;

  div {
    display: block;
    width: calc(33.33% - 30px);
    margin-bottom: 45px;
  }
}
